:root {
    --gradient-text3: linear-gradient(59.97deg, #d4b3f8 1.84%, #fdb995 12.67%);
}

.request-form {
    color: white;
    align-items: center;
    margin-left: 110px;
    margin-top: 20px;
}

.request-form label,button {
    margin-left: 5%;
}

.request-form input {
    margin-left: 10px;
}

.vis-send-button {
    display: inline;
    background-color: #6031FF;
    color: white;
    font-size: 17px;
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    margin: 10px 75px;
    cursor: pointer;
    font-family: var(--font-family);
}
.vis-send-button:hover {
    background-color: #AE67FA;
}
.vis-input {
    width: 20%;
    padding: 15px;
    outline: none;
    margin-bottom: 15px;
    border: 0px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    -webkit-text-fill-color: black;
    background: linear-gradient(to right, #e1b7f1, #f3bab4);
}
.vis-input:focus {
    outline: none;
}

.vis-label {
    display: inline;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ffffff;
    font-family: var(--font-family);
    font-size: 18px;
    background: var(--gradient-text3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .alert {
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #f8d7da;
    color: #721c24;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin: 20px 125px;
  }

  .vis-txn-banner {
    color: #8B41A8;
    margin-left: 300px;
    background-color: #E68D7C;
    padding-left: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-bottom: 50px;
    font-family: var(--font-family);
    -webkit-text-fill-color: black;
    background: linear-gradient(to right, #dc9cf6, #f3bab4);
  }