.Vis {
  background-color: var(--color-footer);
  margin: 100px;
  margin-top: 40px;
  padding-top: 1px;

}

.Vis-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .my-root{
  display: flex;
  flex-direction: column; 
} */

@media (prefers-reduced-motion: no-preference) {
  .Vis-logo {
    animation: Vis-logo-spin infinite 20s linear;
  }
}

.Vis-header {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}

.Vis-link {
  color: #61dafb;
}

@keyframes Vis-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
