.Vis {
  background: var(--color-footer);
  margin: 100px;
}

.Vis-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .my-root{
  display: flex;
  flex-direction: column; 
} */

@media (prefers-reduced-motion: no-preference) {
  .Vis-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Vis-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Vis-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Vis-transaction p{
font-size: 30px;
color: white;
margin: 10px ;
align-items: right;
margin-left: 1000px;
}